* {
  box-sizing: border-box;
}

.header {
  height: 60px;
  margin-bottom: 16px;
}

.sidebar {
  width: 150px;
  height: 500px;
}

.box {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dynamic-list-area {
  border: 1px solid black;
  padding: 16px;
  max-height: 1600px;
  min-width: 300px;
  overflow: auto;
}
