.dynamic-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dynamic-list-item {
  border: 1px solid black;
  padding: 4px 8px;
  display: flex;
  align-items: center;
}

.dynamic-list-item.selected {
  position: fixed;
  justify-content: center;
  background-color: white;
}

/* .content-wrapper {
  padding: 4px 8px;
} */

.dimed-layer {
  background-color: rgba(150, 150, 150, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.dimed-layer.hidden {
  display: none;
}
